*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #b5d459;
	min-height: 100vh;
}
img{
	width: 32px;
	height: 32px;
}

.container{
	perspective: 1100px;
	width: 600px;
	height: 300px;
}
.card, .back-card{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	padding: 30px 40px;
	position: relative;
	color: white;
	background: rgb(48,2,130);
	background: linear-gradient(39deg, rgba(48,2,130,1) 9%, rgba(43,118,213,1) 66%, rgba(0,144,187,1) 88%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;


	box-shadow: 0 0 30px rgba(0, 0, 0, .5);

}

.giracion{
	transition: transform 2s ease-in-out;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
}

.card{

}

.back-card{
	transform: rotateY(180deg);
}

.container:hover .giracion{
	transform: rotateY(180deg);
}

.boton__girar{
	transform: rotateY(180deg);
}

.icono{
	transform: rotate(90deg);
	color: white;
}

.card__header{
	font-size: 1.5rem;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
.card__number{
	font-size: 2.2rem;
	flex-grow: 1;
	display: flex;
	justify-content: center;
}
.card__caduc{
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.card__symbol{
	padding-left: 20px;
}
.card__img{

	border:3px solid white;
	border-radius: 5px;
	background-color: white;
	position: absolute;
	right: 25px;
	bottom: 25px;
	width: 70px;

}

.card__logo{
	border-radius: 12px;
	margin-right: 20px;
}



.back-card__franja{
	height: 24%;
	width: 100%;
	background-color: black;
	position: absolute;
	left: 0;
	top:15%;
}

.back-card__texto{
	font-size: .8rem;
	flex-grow: 1;
	border: 1px solid white;
	padding: 1px;
}

.back-card__logos{
	width: 100%;
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	justify-self: flex-end;
	align-self: flex-end;

}
.back-card__logo{
	width:70px;
	border-radius: 3px;
}
.back-card__p{
	font-size: .9rem;
}

.back-card__espacio{
	height: 50px;
	flex-shrink: 0;
}

.back-card__numeros{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.back-card__numeros-in{
	color: black;
	display: flex;
	width: 60%;
	background-color: white;
	padding: 3px;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 1.2rem;
	gap: 40px;
}




.form{
	padding: 10px;
	max-width: 500px;
	width: 400px;
	min-height: 60vh;
	border-radius: 12px;
	background-color: #e3f1fa;
	color:#26694c;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 20px 20px 10px rgba(0, 0, 0, .2);
	font-size: 20px;
}

input{
	background-color: transparent;
	outline: none;
	border: solid 1px grey;
	padding: 2px;
}

.form__date input{
	max-width: 40px;
}

.form__number input{
	max-width: 60px;
}

.form__enviar{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.form__name{
	padding: 6px;
}

